.inputSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inputSection > label {
  font-size: 0.9rem;
  white-space: nowrap;
}
.dropDownFriends {
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  background: white;
  position: absolute;
  width: 20%;
  color: rgb(20, 17, 17);
  z-index: 3;
}

.dropDownFriends > li {
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}
.dropDownFriends > li:hover {
  cursor: pointer;
}
.dropDownFriends > li:last-child {
  border: 0;
}
.listFriends {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}
.inputBox {
  display: flex;
}
.inputBox > input {
  font-size: 0.875rem;
  padding: 0.3125rem 0.1875rem 0.1875rem;
  margin: 0;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 0;
  border-bottom: 0.1px dotted #bbb;
}
.inputBox > input::placeholder,
.dottedInputBox::placeholder {
  color: #ccc;
}
.tags {
  display: flex;
  align-items: center;
  height: 1.125rem;
  margin: 0.1875rem;
  padding: 0 0.5rem 0.3rem 0.5rem;
  border: 1px solid #bbb;
  border-radius: 15px;
  background-color: #f6f6f6;
  font-size: 0.875rem;
  color: rgb(20, 17, 17);
}
.close {
  color: #aaa;
  margin: 0 0 0 0.3125rem;
  font-weight: bold;
  cursor: pointer;
}
